[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "homecontrol-base-api"
version = "0.1.0"
authors = [{ name = "2851999", email = "2851999@users.noreply.github.com" }]
description = "A base library for homecontrol API's."
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "aiosqlite>=0.21.0",
    "alembic>=1.17.2",
    "fastapi[standard]>=0.121.2",
    "pydantic-settings>=2.12.0",
    # TODO: Only needed for sqlite
    "sqlalchemy[asyncio]>=2.0.44",
]

[project.optional-dependencies]
dev = [
    "black>=25.11.0",
]

[tool.setuptools]
packages = ["homecontrol_base_api"]
