services:
  # database:
  #   image: postgres:16.4
  #   restart: always
  #   environment:
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - ./postgres/data:/var/lib/postgresql/data

  homecontrol-auth:
    # depends_on:
    #   - database
    build:
      context: ..
      dockerfile: homecontrol-auth/Dockerfile
    working_dir: /homecontrol-auth
    # See https://docs.astral.sh/uv/guides/integration/docker/#configuring-watch-with-docker-compose
    develop:
      watch:
        - action: sync
          path: .
          target: /homecontrol-auth/homecontrol_auth
    volumes:
      - ./database.db:/homecontrol-auth/database.db
    env_file: ".env"
    ports:
      - "8000:8000"
